<div class="buttons">
  <button class="button-vol" *ngIf="bottonVol">Pulsa y sube el volumen :) </button>
  <button class="button-pause" (click)="reproducir()">
    @if(pararMusica == true){
      <i class="bi bi-pause"></i>
    }

    @if(pararMusica == false){
      <i class="bi bi-caret-right-fill"></i>
    }


  </button>
</div>

  <section id="home">
    
    <div class="title">
      <h1>Baby shower</h1>
      <span>Estas invitado a</span>
    </div>
    <div class="imagen-container">
      <img id="imagen1" class="img" src="assets/imagen1.webp" alt="iamgen 1">
      <img id="imagen2" class="img" src="assets/imagen2.webp" alt="imagen 2">
    </div>
    <div class="content1">
      <h2>BABY SHOWER DE GINA</h2>
      <span>14 SEPTIEMBRE 2024, 15:00hrs</span>
    </div>

    <div class="arrow">
      <p class="bi bi-arrow-down"></p>
    </div>
    
  </section>
  <section id="ubication">
    <div class="text-information">
      <h2>Acompañanos</h2>
      <span> ¡Ven a celebrar la inminente llegada de la pequeña Gina Giselle mientras colmamos de amor a Clarita, su maravillosa futura mamá!</span>
    </div>

    <div class="text-ubicacion mt-5">
      <div> 
        <div class="icon">
          <img src="assets/clock.png" alt="cuando">
        </div>       
        <h3>¿Cuándo?</h3>
        <p>Sábado, 14 de Septiembre del 2024</p>
      </div>
      <div>
        <div class="icon">
          <img src="assets/map.png" alt="donde">
        </div>
          <h3>¿Dónde?</h3>
          <p>Leona Vicario #309, barrio de Expiración, Zimatlán de Álvarez, Oax</p>
      </div>

    </div>

    
  </section>

  <footer>
      <p>¡Es sorpresa...!</p>

  </footer> 